{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
    <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'insurance/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'insurance/main.css' %}">
    <title>BCG</title>
  </head>
  <body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
          <div class="container">
            <a class="navbar-brand mr-4" href="/">BCG</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
              <div class="navbar-nav mr-auto">
                <!-- <form action="{% url 'search_results' %}" method="get">
                  <div class="input-group mb-6">
                    <input class="form-control" name="q" type="text" placeholder="Search ...">
                  </div>
                </form>  -->
              </div>
              
          </div>
          <div class="navbar-nav">
              <a class="nav-item nav-link" href="{% url 'insurance-trend-view' %}">
                Trend</a>
                </div>
        </nav>
      </header>
     
    
    <main role="main" class="container">

          {% block content %}
          {% endblock %}
      </main>
      
     
  </body>
</html>
